
body{
  margin-left: 10%;
  margin-top: 5%;
}


/*Button 1*/
.button1{
  background: white;     
  /* Background Color*/
  width: 120px;          
  /* Button Width*/
  font-size: 15pt;       
  /* Button Font Size*/
  color: black;          
  /* Text Color*/
  font-weight: 700;      
  /* Bold the Text*/
  border-radius: 30px;   
  /* Make the button with rounded*/
  border:2px solid red;  
  /* Button border 2px thick and solid line with green color*/
  transition: 1s;        
  /* Duration of the animation*/
}

.button1:hover{
  transform: scale(1.1);  
  /* define the tranformation, and make the button 1.1 times bigger*/
  border:none;            
  /* Remove the border*/
  background-color: black;
  /* change the background from white to black*/
  color: white;           
  /* turn the color of text from black to white*/
  letter-spacing: 2px;    
  /* add the space between each letter*/
}




/*Button 2*/
.button2{
  background: white;     
  /* Background Color*/
  width: 120px;          
  /* Button Width*/
  font-size: 15pt;       
  /* Button Font Size*/
  color: black;          
  /* Text Color*/
  font-weight: 700;      
  /* Bold the Text*/
  border-radius: 30px;   
  /* Make the button with rounded*/
  border:2px solid green;
  /* Button border 2px thick and solid line with green color*/
  transition: 1s;        
  /* Duration of the animation*/
}

.button2:hover{
  transform: scale(1.3) rotate(720deg);
  /* define the tranformation, and make the button 1.3 times bigger
    & spin the button 720 degrees*/
  border:none;
  /* Remove the border*/
  background-color: orange;
  /* change the background from white to orange*/
  color: white;
  /* turn the color of text from black to white*/
  letter-spacing: 2px;
  /* add the space between each letter*/
}


/*Animation*/
.letsmove{
  animation: myAnimated 2s ease-in-out;
  /* in the animation attribute we to need create 
  name of the animation  and define the duration,
  and the type of movement*/
  animation-iteration-count: infinite;
  /*define the number of animation to perform.
  In this case, we make it infinite (never stop)*/
  text-align: center;
}

@keyframes myAnimated{
  from{
    opacity: 1;
    transform: translateY(-10px) rotateY(0deg) scale(1);
    /* The animation start from origin points (starting point)*/
  }
  50%{
    opacity: 0.3;
    transform: translateY(5px) rotateY(360deg) scale(0.5);
    /* Half of the animation, translateY(5px) meaning 
    to move vertically 5px and smaller by 50% */
  }
  to{
    opacity: 1;
    transform: translateY(-10px) rotateY(0deg) scale(1);
    /*The end of the animation, in this case, We want to keep the 
    animation smooth, so we gonna end the animation at origin point*/
  }
}




.moremove{
  animation: moreAnimated 2s ease-in-out;
  animation-iteration-count: infinite;
  text-align: center;
}

@keyframes moreAnimated{
  from{
    opacity: 1;
    transform: translateY(-10px) rotate(0deg) scale(1);
  }
  50%{
    opacity: 0.3;
    transform: translateY(5px) rotate(360deg) scale(0.5);
  }
  to{
    opacity: 1;
    transform: translateY(-10px) rotate(0deg) scale(1);
  }
}


.move{
  animation: updown 0.5s ease-in-out;
  animation-iteration-count: infinite;
  text-align: center;
}

@keyframes updown{
  from{
    opacity: 1;
    transform: translateY(-10px);
  }
  50%{
    opacity: 0.3;
    transform: translateY(5px);
  }
  to{
    opacity: 1;
    transform: translateY(-10px);
  }
}











